@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

main{
    display: flex;

    align-items: center;
    justify-content: center;
}

#borda{
    display: flex;
    width: 958px;
    height: 874px;

    flex-direction: column;
    border: 4px solid #333333;

    align-items: center;

    margin-top: 50px;
    margin-bottom: 112px;
}
/* estilizando em cima */
#em_cima {
    width: 791px;

    display: flex;

    flex-direction: raw;

    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* estilizando o titulo */
#titulo {
    width: 811.59px;
    height: 81px;

    margin-top: 54px;
    margin-bottom: 67px;

    font-family: Darker Grotesque;
    font-size: 60px;
    font-weight: 600;

    text-align: center;
    
}

/* estilizando os nomes acima */
label {
    width: 247.67px;
    height: 41px;

    font-size: 30px;

    font-weight: 500;
    font-family: Darker Grotesque;
}

.caixa {
    background-color: #E6E6E6;

    border-color: #333333;
    border: 1px solid #333333
}

/* estilizando a idade */
.field_idade {
    display: flex;

    width: 177.14px;
    height: 87px;

    flex-direction: column;
    justify-content: space-between;
}

#idade {
    width: 177.14px;
    height: 39px;
}

/* estilizando o nome */
.field_nome {
    display: flex;

    width: 564px;
    height: 87px;

    flex-direction: column;
    justify-content: space-between;
}

#nome {
    width: 564px;
    height: 39px;
}

/* estilizando o field do link */
.field_foto {
    display: flex;

    margin-top: 18px;
    margin-bottom: 20px;

    width: 791px;
    height: 89px;

    flex-direction: column;
    justify-content: space-between;
}

#imagem {
    width: 791px;
    height: 39px;
}

/* estilizando o field descricao */
.field_descricao {
    display: flex;

    width: 791px;
    height: 298px;

    flex-direction: column;
    justify-content: space-between;
}

#descricao {
    width: 791px;
    height: 250px;
}

/* estilizando o botao */
button {
    width: 209px;
    height: 60px;

    margin: 50px 0;

    background-color:#2C5680;
    color: white;
    border-color: #333333;

    font-size: 24px;
    font-weight: 400;
    font-family: Roboto;
}